<template>
  <p>
    <input type="checkbox" :id="'cat-' + category.id" :name="category.id" :checked="checked" @change="catChecked($event)">
    <label :for="'cat-' + category.id">{{category.title}} ({{category.count}})</label>
  </p>
</template>

<script>

export default {
  name: 'CategoryCheckbox',
  props: ['category'],
  data() {
    return {
      checked: false,
    };
  },
  computed: {
    allChecked() {
      return this.$store.state.categoriesState.allCategoriesSelected;
    },
  },
  watch: {
    checked(value) {
      const mutationType = value ? 'setUserCategory' : 'unsetUserCategory';
      this.$store.commit(mutationType, this.category);
    },
    allChecked(value) {
      this.checked = value;
    },
  },
  methods: {
    catChecked(event) {
      this.checked = event.target.checked;
    },
  },
};
</script>

<style lang="scss" scoped>
  p {
    flex: 1 0 50%;
    display: flex;
    align-items: flex-start;
  }

  input {
    flex-shrink: 0;
  }

  label {
    padding: 0 10px 10px 5px;
    line-height: 20px;
  }
</style>
