<template>
  <div class="keywordSearch__wrapper">
    <div class="inputWrapper">
      <input class="keywordSearch__input" @input="setUserKeyword" name="keywords" value="" maxlength="255" placeholder="Enter keyword" type="text" />
      <button class="keywordSearch__toggle" @click="toggleCategoryDropdown($event)">
        <span class="keywordSearch__toggle__text">in {{selectedCategoryCount}}</span>
        <span class="keywordSearch__toggle__icon">
          <svg width="15" height="15" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1408 704q0 26-19 45l-448 448q-19 19-45 19t-45-19l-448-448q-19-19-19-45t19-45 45-19h896q26 0 45 19t19 45z"/></svg>
        </span>
      </button>
    </div>

    <categories-dropdown v-show="$store.state.keywordSearchState.categoriesOpen" v-click-outside="clickOutside"></categories-dropdown>
  </div>
</template>

<script>
import CategoriesDropdown from '@/components/categories-dropdown/CategoriesDropdown';

export default {
  name: 'KeywordSearch',
  components: {
    CategoriesDropdown,
  },
  created() {
    this.$store.commit('resetCategoryDropdown');
    this.$store.commit('setUserKeyword', '');
  },
  computed: {
    selectedCategoryCount() {
      return this.$store.getters.selectedCategoryCount;
    },
  },
  methods: {
    toggleCategoryDropdown(event) {
      event.preventDefault();
      this.$store.commit('toggleCategoryDropdown');
    },
    setUserKeyword(event) {
      this.$store.commit('setUserKeyword', event.target.value);
    },
    clickOutside(ev) {
      // eslint-disable-next-line no-console
      if (ev.target.closest('.keywordSearch__toggle')) {
        return;
      }
      if (this.$store.state.keywordSearchState.categoriesOpen) {
        this.$store.commit('resetCategoryDropdown');
      }
    },
  },

};
</script>

<style lang="scss" scoped>
.keywordSearch {
  &__wrapper {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    max-width: 448px;
  }

  &__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 50%;
  }

  &__toggle {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: $xing-light-grey;
    color: $xing-dark-grey;
    border-style: none;
    position: relative;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 50%;
    display: flex;
    align-items: center;

    &__text {
      text-align: left;
      flex-grow: 1;
    }

    &__icon {
      padding-left: 10px;
      display: flex;
      svg {
        fill: currentColor;
      }
    }
  }
}
</style>
