<template>
  <div class="searchResults__wrapper">
    {{ userSearchString }}
  </div>
</template>

<script>
export default {
  name: 'SearchResults',
  computed: {
    userSearchString() {
      const userSearch = {
        keyword: this.$store.state.keywordSearchState.userKeyword,
        categories: this.$store.state.categoriesState.userCategories,
        location: this.$store.state.locationSearchState.selectedLocation,
      };
      if (!userSearch.keyword) {
        return '';
      }
      let catString = '';
      if (userSearch.categories.length > 0) {
        const cats = userSearch.categories.map(cat => cat.title);
        if (cats.length === 1) {
          catString = `, in the category of "${cats[0]}"`;
        } else {
          const string = cats.reduce((a, b, c, d) => `${a === d[0] ? '"' : ''}${a}${a === d[0] ? '"' : ''}${c + 1 !== d.length ? ', ' : ' and '}"${b}"`);
          catString = `, in the categories of ${string}`;
        }
      }

      const locationString = userSearch.location ? `, in the location of ${userSearch.location}` : '';
      return `Searching for "${userSearch.keyword}"${catString}${locationString}.`;
    },
  },
};
</script>

<style lang="scss" scoped>
.searchResults {
  &__wrapper {
    width: 980px;
    max-width: 100%;
    margin: 0 auto;
    padding: 35px;
    font-size: 20px;
  }
}
</style>
