<template>
<div class="landingPage">
  <div class="landingPage__search">
    <h2 class="landingPage__subtitle">For a better working life</h2>
    <h1 class="landingPage__title">The new XING Jobs</h1>
    <form class="landingPage__searchBar" autocomplete="off" action="#" method="get">
      <keyword-search></keyword-search>

      <location-search></location-search>

      <button class="button button__search" @click="submitSearch($event)" name="SearchButton" type="submit">Search</button>
    </form>
  </div>
  <search-results></search-results>
</div>
</template>

<script>
import KeywordSearch from '@/components/keyword-search/KeywordSearch';
import LocationSearch from '@/components/location-search/LocationSearch';
import SearchResults from '@/components/search-results/SearchResults';

export default {
  name: 'LandingPage',
  components: {
    KeywordSearch,
    LocationSearch,
    SearchResults,
  },
  methods: {
    submitSearch(event) {
      event.preventDefault();
    },
  },
};
</script>

<style lang="scss">
.landingPage {

  &__search {
    height: 400px;
    width: 980px;
    max-width: 100%;
    padding: 0 24px;
    position: relative;
    margin: 0 auto;
    background-image: url('/static/img/xingBg01.png');
    background-position-y: center;
    background-size: cover;

    @media (min-width: $breakpoint-full) {
      padding: 0 90px 0 35px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, $xing-base 0, rgba($xing-base-dark, 0.8) 70%, rgba($xing-highlight, 0.8));
    }
  }

  &__title,
  &__subtitle {
    position: relative;
    margin: 0;
    padding: 0;
    color: $xing-white;
    font-size: 24px;
    line-height: 30px;

    @media (min-width: $breakpoint-m) {
      font-size: 35px;
      line-height: 45px;
    }
  }

  &__subtitle {
    padding-top: 24px;

    @media (min-width: $breakpoint-m) {
      padding-top: 50px;
    }
  }

  &__searchBar {
    padding-top: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: $breakpoint-l) {
      flex-direction: row;
    }
  }
}

input {
  position: relative;
  border-style: none;
  border-radius: 4px;
  padding: 10px;
  color: $xing-darker-grey;
  font-size: 15px;
  font-weight: bold;
}

.inputWrapper {
  border-radius: 4px;
  box-shadow: 0 0 0 4px rgba($xing-black, 0.1);
  display: flex;
  margin: 0 0 15px;

  @media (min-width: $breakpoint-l) {
    margin: 0 15px 0 0;
  }
}

.button {

  &__search {
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding: 0 24px;
    background-color: $xing-bright-primary;
    background-image: linear-gradient(to bottom,$xing-bright-vibrant 0,$xing-bright-primary 100%);
    border-radius: 4px;
    color: $xing-black-offset;
    cursor: pointer;

    &:hover,
    &:focus {
      background: $xing-bright-highlight;
    }

    &:active {
      background-color: $xing-bright-vibrant;
      background-image: none;
    }
  }
}
</style>
