<template>
  <div class="locationSearch__wrapper">
    <div class="inputWrapper">
      <input @input="locationSearch" @keyup.enter="submit" name="location" :value="selectedLocation" maxlength="255" class="locationSearch__input" placeholder="Location" type="text" />
    </div>
    <ul class="locationResults">
      <li class="locationResults__option" v-for="location in locations" :key="location" @click="chooseLocation($event, location)">{{ location }}</li>
    </ul>
  </div>
</template>

<script>
import throttle from 'lodash.throttle';

export default {
  name: 'LocationSearch',
  created() {
    this.$store.commit('resetLocations', this.selectedLocation);
  },
  data() {
    return {
      selectedLocation: '',
    };
  },
  methods: {
    // eslint-disable-next-line
    locationSearch: throttle(function (e) {
      this.selectedLocation = e.target.value;

      if (e.target.value.length < 3) {
        return this.chooseLocation(e, e.target.value);
      }
      this.$store.dispatch('getLocationMatches', e.target.value);
    }, 1000, { leading: false }),
    chooseLocation($event, location) {
      this.selectedLocation = location;
      this.$store.commit('resetLocations', this.selectedLocation);
    },
    submit() {
      // TODO: pass value out to parent
    },
  },
  computed: {
    locations() {
      return this.$store.state.locationSearchState.locations;
    },
  },
};
</script>

<style lang="scss" scoped>
.locationSearch {
  &__wrapper {
    flex-grow: 2;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;
  }
}

.locationResults {
  margin-right: 15px;
  font-size: 13px;

  &__option {
    background-color: $xing-white;
    padding: 10px;
    border-top: 1px solid $xing-separator;
    cursor: pointer;

    &:last-child {
      border-bottom: 1px solid $xing-separator;
    }

  }
}
</style>
