$xing-black: #000;
$xing-white: #fff;
$xing-black-offset: #333;
$xing-light-grey: #EBEBEB;
$xing-dark-grey: #4e4e4e;
$xing-darker-grey: #555;
$xing-separator: #cdcdcd;
$xing-base: rgb(70, 132, 136);
$xing-base-dark: rgb(38, 107, 111);
$xing-highlight: rgb(81, 132, 51);
$xing-bright-primary: #b0d400;
$xing-bright-highlight: #accf00;
$xing-bright-vibrant: #e9f802;

$breakpoint-m: 506px;
$breakpoint-l: 654px;
$breakpoint-full: 732px;
