<template>
  <fieldset class="inputWrapper categoriesDropdown">
    <div class="categoriesDropdown__header">
      <legend>Top Categories</legend>

      <p class="categoriesDropdown__selectAll" @click="toggleSelectAll">{{selectAllText}}</p>
    </div>
    <div class="categoriesDropdown__section">
      <category-checkbox v-for="category in topCategories" :key="category.id" :category="category"></category-checkbox>
    </div>
    <div class="categoriesDropdown__header">
      <legend>More Categories</legend>
    </div>
    <div class="categoriesDropdown__section categoriesDropdown__section--short">
      <category-checkbox v-for="category in moreCategories" :key="category.id" :category="category"></category-checkbox>
    </div>
  </fieldset>
</template>

<script>
import CategoryCheckbox from '@/components/category-checkbox/CategoryCheckbox';

export default {
  name: 'CategoriesDropdown',
  components: {
    CategoryCheckbox,
  },
  created() {
    this.$store.dispatch('getCategories');
    this.$store.commit('resetUserCategories');
    this.$store.commit('toggleAllCategories', false);
  },
  methods: {
    toggleSelectAll() {
      this.$store.commit('toggleAllCategories');
    },
  },
  computed: {
    topCategories() {
      return this.$store.state.categoriesState.categories
        .filter(cat => !!cat.top)
        .sort((a, b) => a.count < b.count);
    },
    moreCategories() {
      return this.$store.state.categoriesState.categories
        .filter(cat => !cat.top)
        .sort((a, b) => a.count < b.count);
    },
    selectAllText() {
      const allSelected = this.$store.state.categoriesState.allCategoriesSelected;
      return allSelected ? 'Deselect all categories' : 'Search in all categories';
    },
  },
};
</script>

<style lang="scss" scoped>
.categoriesDropdown {
  background-color: $xing-white;
  margin-top: 4px;
  flex-direction: column;
  font-size: 13px;

  &__header {
    width: 100%;
    padding: 14px 10px 10px;
    border-bottom: 1px solid $xing-separator;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:first-child) {
      border-top: 1px solid $xing-separator;
    }

    legend {
      font-weight: bold;
      font-size: 15px;
      color: $xing-black;
    }
  }

  &__selectAll {
    color: $xing-base;
    font-weight: bold;
    cursor: pointer;
  }

  &__section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 10px 10px;

    &--short {
      overflow-y: scroll;
      max-height: 175px;
    }

    p {
      flex: 1 0 50%;
      display: flex;
      align-items: flex-start;
    }

    input {
      flex-shrink: 0;
    }

    label {
      padding: 0 10px 10px 5px;
      line-height: 20px;
    }
  }
}
</style>
